$bg-cloud: #f1f1f1;
$color-pri: #d35d67;
$color-alt: #f2ea65;
$color-neu: #5dd3c9;
html {
  font-size: 16px;
}

body {
  font-family: Lato;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.no-geo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-pri;
  font-weight: bold;
  font-size: 3rem;
}
.location {
  height: 100px;
  h2 {
    color: $color-pri;
    font-size: 4rem;
    font-weight: bold;
    display: none;
  }
}
.weather-display {
  margin: 25px 0;
  .weather-icon img {
    width: 50%;
    animation: move 10s infinite;
  }
  .temp {
    font-size: 5.5rem;
    font-weight: bold;
    color: $color-alt;
  }
  .weather-main {
    color: #fff;
    font-size: 1.2rem;
  }
}
.weather-forecast {
  color: #fff;
  margin-bottom: 30px;
  h2 {
    font-size: 1.3rem;
    margin-bottom: 50px;
    &.warning {
      font-size: 1.2rem;
      color: lighten($color-pri, 15%);
      font-style: italic;
    }
    span {
      color: $color-neu;
      font-size: 1.5rem;
    }
  }
  h3 {
    color: $color-neu;
  }
  img {
    width:100px;
    position: relative;
  }
  .forecast-item {
    margin: 20px 0;
    .temp {
      font-size:3rem;
      color: $color-alt;
    }
  }
}
// TEMP TOGGLE
.temp-toggle {
  display: none;
  text-align: center;
  input {
    display: none;
  }
  label {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 80px;
    height: 30px;
    background: #bbb;
    border-radius: 40px;
    cursor: pointer;
    transition: background .4s;
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #fff;
      box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
      transition: margin .4s;
    }
  }
  input:checked {
    + label {
      background: #8ce196;
      &::after {
      margin-left: 50px;
      }
    }
  }
}

.author {
	margin: 30px;
	color: #fff;
	font-size: 1rem;
	a {
		color: $color-pri;
	}
	img {
		width: 32px;
		vertical-align: bottom;
		margin: 0 5px;
	}
}

@keyframes move {
  0%, 100% {transform: translateX(0);}
  25% {transform: translateX(50px);}
  75% {transform: translateX(-50px);}
}
.sk-folding-cube {
  display: none;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
